p  {
    font-size:125%
    font-family: "Lucida Console", "Courier New", monospace
    color:lightgreen
    text-align:right;
}
img  {
    float:left;
}
body  {
    background-color:purple;
}
h1  {
    text-align:center;
    color:blue;
}
