h1 {
  color:green;
  font-family:'Times New Roman', serif;
}
body  {
  text-align:center;
  font-family:'Brush Script MT', cursive;
  background-color:purple;
  color:red;
  font-size:150%;
}
IMG_0351 {
object-position:150,300;
}
